body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #333;
}

#controls button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#captureContainer {
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

#video {
    max-width: 100%;
    height: auto;
    display: block; /* Remove extra space below video */
}

#outputContainer {
    margin-top: 20px;
}

#output img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-top: 10px;
}
